.question-card {
  background-color: #f9f9f9;
  border-radius: 10px;
  padding: 30px 25px;
  max-width: 90%;
  width: 505px;
  height: 200px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}


.question-label {
  font-weight: bold;
  font-size: 18px;
  margin-top: 20px;
}


.options-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  margin-bottom: 30px; 
}


.question-card label {
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 1.5;
  cursor: pointer;
}

input[type='radio'],
input[type='checkbox'] {
  margin-right: 10px;
}


.input {
  padding: 10px;
  width: 100%;
  max-width: 400px;
  box-sizing: border-box;
  margin-bottom: 30px; 
}


.error {
  color: red;
  font-size: 14px;
  margin-top: 5px;
  text-align: left;
  width: 100%;
}


.nav-buttons-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 15px;
}

.nav-buttons-container button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #4CAF50;
  color: white;
  transition: background-color 0.3s ease;
}

.nav-buttons-container button:hover {
  background-color: #45a049;
}

.nav-buttons-container button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
